@model KnowUrSystem.Model.DistributionRawData
@{
    ViewBag.Title = "Trade Distribution";
}

<h2>TradeDistribution</h2>



<table style="border:3px #FFD382 dashed;" cellpadding="10" border='1'>
    <tr>
        <td>Count</td>
        <td>R Mutiple</td>
    </tr>
    <tr>
        <td>1123</td>
        <td>123</td>
    </tr>
</table>

